body {
  margin: 0;
  background-color: #f8f9fa;
}

.manage-container {
  display: flex;
  min-height: 90vh;
}

.view-main-content {
  flex-grow: 1;
  padding: 2rem;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.view-bulletin {
  background-color: #CCE0FF;
  padding: 2rem;
  border-radius: 10px;
  width: 1220px;
}

.bulletin-posts {
  background-color: white;
  margin-top: 1rem;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  width: 1160px;
}

.post-date {
  font-size: 0.9rem;
  color: #888;
}