body {
  margin: 0;
  background-color: #f8f9fa;
  
}

.manage-container {
  display: flex;
  min-height: 90vh;
}

.sidebar {
  width: 250px;
  height: 900px;
  background-color: white;  
  color: #2c3e50;           
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-header {
  display: flex;
  align-items: center; 
  gap: 10px;
  margin-bottom: 2rem;
}

.sidebar-logo {
  width: 40px;
  height: auto;
  display: block; 
}
.view-main-content{
  padding: 1rem;
  height: 100vh;
  overflow-y: hidden;    
  overflow-x: hidden;  
}
.post-date {
  font-size: 0.9rem;
  color: #888;
}
.title-text {
  border-radius: 30px;
  height: 100%;
}

