
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #333333;
  padding: 10px;
  margin: 0;
}

.container {
  margin-top: 10px;
  margin-left: 8px;
}
