body {
  margin: 0;
  background-color: white;
}

.manage-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  max-height: 100vh;
  background-color: white;  
  color: #2c3e50;           
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* ensure padding is included in height */
}

.sidebar-header {
  display: flex;
  align-items: center; 
  gap: 10px;
  margin-bottom: 2rem;
}

.sidebar-logo {
  width: 40px;
  height: auto;
  display: block; 
  margin-top: 50px;
  margin-left: 20px;
}

.logo-text {
  color: black;
  font-weight: 200;
  margin-top: 65px;        
  line-height: 1;   
  font-size: 50px;
  font-family: 'Jomhuria', cursive;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav li {
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
  color: #2c3e50;
}

.sidebar nav li:hover,
.sidebar nav .active {
  background-color: #d0e7ff; 
}

.logout {
  display: block;
  margin: 30px auto;
  padding: 5px 5px;
  color: white;
  text-align: center;
  text-decoration: underline;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content .container {
  background-color: #CCE0FF;
  font-size: 20px;
  border-radius: 50px;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -10px;
  width: 100%;
  height: 720px;


}

.container h1 {
  font-size: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  padding: 2rem;

}

.post {
  background-color: #CCE0FF; 
  font-size: 20px;
  border-radius: 10px;
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 100%;
  max-height: 80vh;   
  overflow-y: auto;    
  overflow-x: hidden;
  margin-top: -60px;

}

.post h2 {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  
}
.custom-select .ant-select-selector, .custom-title, .custom-description{
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}
.custom-title,
.custom-select {
  height: 50px;
}
.custom-description {
  min-height: 400px; 
  padding: 8px;
  border-radius: 10px;
}
.post-button{
  border-radius: 30px;
  width: 200px;
  height: 50px;
  background-color: #0066FF;
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-left: 450px;
}
.post-section {
  padding-top: 5rem;
  top: 0; 
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  max-height: 100;

}
.post-section h2, .post-section p{
  margin-bottom: 10px;
}
.post-list {
  list-style: none; 
  margin-top: 20px; 
   z-index: 10; 
  width: 100%; 
   max-height: 55vh;
  overflow-y: auto; 
}

.post-list li {
  margin-bottom: 1rem;
}
.emerg-button h1{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 50px;
  margin-left: 150px;
  letter-spacing: 0.1rem;
  color: black;
}

.search-bar .ant-input-search-button {
  background-color: #455A64;
  border-radius: 10px;
  border: none;
  color: white;
}

.search-bar .ant-input {
  border-radius: 10px;
  padding-left: 15px;
}







