@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

header .logo {
  color: black;
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  font-size: 65px;
  font-family: 'Jomhuria', cursive;
}
header .logo span{
  margin-top: 15px;

}

header .logo img {
  width: 50px;
  height: auto;
}
.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
}

.text-content {
  max-width: 45%;
  margin-left: 75px;
  margin-top: 10px;
}

.text-content h1{
  max-width: 100%;
  font-size: 60px;
  letter-spacing: 15px;
  line-height: 50px;
  font-weight: 800;
  color: #0070ff;
  margin-bottom: 60px;
  display: inline-block;
  margin-left: 40px;
}

.text-content p {
  color: black;
  margin-top: -40px;
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 1.5;
  margin-left: 40px;
  margin-right: 80px;
  font-weight: 400;
}

/* Buttons */
.buttons .btn {
  padding: 10px 10px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 30px;
  display: inline-block;
  margin-left: 40px;
  margin-top: 15px;
  width: 200px;
  height: 50px;
  text-align: center;
}
.buttons a{
  text-align: center;
  margin-top: 100px;
}

.btn.dark {
  background-color: #3a4a52;
}

.btn.blue {
  background-color: #0070ff;
  margin-left: -5px;
  
}

/* Illustration */
.illustration {
  padding-left: 10px;
}

.illustration img {
  width: auto;
  max-height: 75vh;
}
