@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

header .logo {
  color: black;
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  font-size: 65px;
  font-family: 'Jomhuria', cursive;
}
header .logo span{
  margin-top: 15px;

}

header .logo img {
  width: 50px;
  height: auto;
}
.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
}

.text-content {
  max-width: 45%;
  margin-left: 75px;
  margin-top: 10px;
}

.text-content h1{
  max-width: 100%;
  font-size: 80px;
  letter-spacing: 18px;
  line-height: 70px;
  font-weight: 800;
  color: #0070ff;
  margin-bottom: 60px;
  display: inline-block;
  margin-left: 40px;
}

.text-content p {
  color: black;
  margin-top: -40px;
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.2;
  margin-left: 40px;
  margin-right: 80px;
  font-weight: 400;
}

/* Buttons */
.buttons .btn {
  padding: 25px 50px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 50px;
  display: inline-block;
  margin-left: 50px;
  margin-top: 15px;
  width: 250px;
}
.buttons a{
  text-align: center;
}

.btn.dark {
  background-color: #3a4a52;
}

.btn.blue {
  background-color: #0070ff;
  margin-left: -5px;
  
}

/* Illustration */
.illustration {
  padding-left: 30px;
}

.illustration img {
  width: 700px;
  margin-top: 70px;
  max-width: 100%;
    margin-left: -100px; 
}
