.login-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.login-form {
  max-width: 45%;
  padding: 20px 50px;

}

.login-form h1 {
  font-size: 65px;
  font-weight: 800;
  color: #0070ff;
  margin-bottom: 20px;
  border-bottom: 10px solid #0070ff;
  display: inline-block;
  padding-bottom: 5px;
  letter-spacing: 0.5rem;
  margin-left: 20px;
}

.login-form p {
  font-size: 22px;
  margin: 20px 0 30px;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-left: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"],
.login-form input[type="password"] {
  width: 90%;
  color: #000000;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  background-color: #d7e3ff;
  font-size: 18px;
  margin-left: 15px;
}


.login-buttons {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-left: 15px;

}


.btn {
  cursor: pointer;
  padding: 25px 50px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  user-select: none;
  transition: background-color 0.5s ease, transform 0.5s ease;
  border-radius: 50px;
  width: 250px;
  height: 65px;
  text-align: center;
  font-weight: 600;

}

.error {
  width: 90%;
  color: #d8000c;
  background-color: #ffd2d2;
  border-left: 10px solid #d8000c;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16x;
  display: flex;
  align-items: center;
  gap: 1px;
  border-radius: 8px;
  box-sizing: border-box;
}

.error-icon {
  font-size: 20px;
}

.btn.dark {
  background-color: #333;
  color: white;
}

.btn.dark:hover {
  background-color: #555;
}

.btn.dark:active {
  background-color: #222;
  transform: scale(0.95);
}

/* Blue button */
.btn.blue {
  background-color: #0070ff;
  color: white;
}

.btn.blue:hover {
  background-color: #005ecc;
}

.btn.blue:active {
  background-color: #004a99;
  transform: scale(0.95);
}

.admin-illustration img {
  width: 750px;
  max-width: 100%;
  height: auto;
}
